@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    @apply font-semibold transition-colors text-black dark:text-white hover:opacity-80;
  }
  .navbar.active {
    @apply before:content-[''] before:h-2 before:w-2 before:bg-primary before:rounded-full before:absolute before:-bottom-2 relative flex justify-center font-bold text-primary;
  }
  .navbar-social {
    @apply h-9 w-9 rounded-full flex items-center justify-center hover:bg-light-primary dark:bg-dark-black-light dark:hover:bg-dark-black-light;
  }
  .title-section {
    @apply text-3xl text-center font-bold mb-8;
  }
  .nav-mobile {
    @apply -right-80;
  }
  .nav-mobile-open {
    @apply right-0;
  }
  .icon-nav {
    @apply fill-black dark:fill-white;
  }
  .nav-mobile {
    @apply flex items-center flex-col font-medium text-sm;
  }
  .icon-social-navbar {
    @apply fill-slate-800 group-hover:fill-primary dark:fill-white;
  }
  .card-project {
    @apply before:p-[2px] before:content-[''] before:absolute before:inset-0 relative before:rounded-3xl overflow-hidden;
  }
  .card-project::before {
    background: linear-gradient(
        129deg,
        #0779e4 -1.08%,
        rgba(255, 255, 255, 0) 30.59%
      ),
      linear-gradient(310deg, #0779e4 -1.27%, rgba(255, 255, 255, 0) 31.06%);
    -webkit-mask: linear-gradient(black, black) content-box content-box,
      linear-gradient(black, black);
    -webkit-mask-composite: xor;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
